.text1 {
    text-align: center;
    color: white;
    font-family: dm-serif;
    display: block;
}
span{
    font-size: 18px;
    font-family:welcoming;
}
body{
    background-color:black;
}

@font-face {
    font-family: 'dm-serif';
    src: url('./fonts/DMSerifText-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'welcoming';
    src: url('./fonts/RedHatText-Italic-VariableFont_wght.ttf') format('truetype');
}
/*
@font-face {
    font-family: '';
    src: url('./fonts') format('truetype');
}
@font-face {
    font-family: 'Maya';
    src: url('fonts/maya.ttf') format('truetype');
}