body{
    background-color:red;
    text-align:center;
}
.centered-text{
    text-align:center;
}
.centered{
    text-align:center;
    display:block;
    display:flex;
    
}

/*@font-face {
    font-family:;
    src: url();
}*/